main {
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
}
h1 {
  padding: 8px 0;
}
.planner {
  width: 95%;
  height: 250px;
  margin: auto;
}
.create-task {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn-group .btn {
  margin-top: -8px;
}
.clear {
  width: 25px;
  height: 30px;
  outline: none;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}
.clear:hover {
background-color: red;
}
.clear:focus {
  outline: none;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.task input[type="text"] {
  width: 80%;
  margin-top: 10px;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
